@import url("custom.css");

body {
    font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    letter-spacing: .2px;
    text-size-adjust: 100;
}
