body {
    font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    letter-spacing: .2px;
    text-size-adjust: 100;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: true;
    height: 100%;
    font-size: 13.33333px;
}
.source {
    flex : 1 0 auto;
    min-width: 320px;
    min-height: 50vh;
}
.glsl {
    flex: 1 0 auto;
    min-height: 30vh;
}
