body {
    font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    letter-spacing: .2px;
    text-size-adjust: 100;
}
.input {
    flex : 1 0 auto;
    min-width: 320px;
    height: 75vh;
}
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: true;
    height: 100%;
    font-size: 13.33333px;
}
